<hr />
<div class="row">
	<div class="span3">
		<%= image_tag "http://cdn.shopify.com/s/files/1/0080/8372/t/1/assets/logo_.png" %>
	</div>
	<div class="span9">
		<h5>Tatuajes Temporales</h5>
		<p>Made in Mexico.</p>
	</div>
</div>
<div style="margin-top:3em"></div>
<div class="row">
	<div class="span4">
		<ul id="left_bar">
			<li>DISEÑOS</li>
			<div style="color:#999">
			<li><%=  "colorful"%></li>
			<li><%=  "kids" %></li>
			<li><%=  "summertime" %></li>
			<li><%=  "inspirational" %></li>
			<li><%=  "animals" %></li>
			<li><%=  "food" %></li></div>
			<hr />
		</ul>
	</div>
	<div class="span4">
		<div class="thumbnail">
	      <%= image_tag "feature-butterfly-effect.jpg" %>
	      <div class="caption">
	        <h3>Butterfly Effect <span style="font-size:0.8em; color:#999">- $100</span></h3>
	        <p><a href="https://www.compropago.com/comprobante/?store_id=632838a6-bd80-4293-85cb-4e0b37a24980&product_price=100.00&product_name=Tatuaje%20&product_id=Tatto123-A&client_name=Oskar&client_email=jogam15%40gmail.com&image_url=https%3A%2F%2Fcompropago.s3.amazonaws.com%2Fbutton%2Fimage_url%2F28%2Ffeature-eep.jpg"><img src="https://www.compropago.com/assets/payment-green-btn.png"></a></p>
	      </div>
	    </div>
	</div>
	<div class="span4">
		<div class="thumbnail">
	      <%= image_tag "feature-camera-1.jpg" %>
	      <div class="caption">
	        <h3>Kamera <span style="font-size:0.8em; color:#999">- $100</span></h3>
	        <p><a href="https://www.compropago.com/comprobante/?store_id=632838a6-bd80-4293-85cb-4e0b37a24980&product_price=100.00&product_name=Tatuaje%20&product_id=Tatto123-A&client_name=Oskar&client_email=jogam15%40gmail.com&image_url=https%3A%2F%2Fcompropago.s3.amazonaws.com%2Fbutton%2Fimage_url%2F28%2Ffeature-eep.jpg"><img src="https://www.compropago.com/assets/payment-green-btn.png"></a></p>
	      </div>
	    </div>
	</div>
</div>
<div style="margin-top:1em">
<div class="row">
	<div class="span4 offset4">
	 	<div class="thumbnail">
	      <%= image_tag "feature-eep.jpg" %>
	      <div class="caption">
	        <h3>Eep <span style="font-size:0.8em; color:#999">- $100</span></h3>
	        <p><a href="https://www.compropago.com/comprobante/?store_id=632838a6-bd80-4293-85cb-4e0b37a24980&product_price=100.00&product_name=Tatuaje%20&product_id=Tatto123-A&client_name=Oskar&client_email=jogam15%40gmail.com&image_url=https%3A%2F%2Fcompropago.s3.amazonaws.com%2Fbutton%2Fimage_url%2F28%2Ffeature-eep.jpg"><img src="https://www.compropago.com/assets/payment-green-btn.png"></a></p>
	      </div>
	    </div>
	</div>
	<div class="span4">
		<div class="thumbnail">
	      <%= image_tag "feature-friendship-bracelet-pink.jpg" %>
	      <div class="caption">
	        <h3>Friendship Bracelet <span style="font-size:0.8em; color:#999">- $100</span></h3>
	        <p><a href="https://www.compropago.com/comprobante/?store_id=632838a6-bd80-4293-85cb-4e0b37a24980&product_price=100.00&product_name=Tatuaje%20&product_id=Tatto123-A&client_name=Oskar&client_email=jogam15%40gmail.com&image_url=https%3A%2F%2Fcompropago.s3.amazonaws.com%2Fbutton%2Fimage_url%2F28%2Ffeature-eep.jpg"><img src="https://www.compropago.com/assets/payment-green-btn.png"></a></p>
	      </div>
	    </div>
	</div>
</div>
<div style="margin-top:1em">
<div class="row">
	<div class="span4 offset4">
	 	<div class="thumbnail">
	      <%= image_tag "feature-home-row.jpg" %>
	      <div class="caption">
	        <h3>Home Row <span style="font-size:0.8em; color:#999">- $100</span></h3>
	        <p><a href="https://www.compropago.com/comprobante/?store_id=632838a6-bd80-4293-85cb-4e0b37a24980&product_price=100.00&product_name=Tatuaje%20&product_id=Tatto123-A&client_name=Oskar&client_email=jogam15%40gmail.com&image_url=https%3A%2F%2Fcompropago.s3.amazonaws.com%2Fbutton%2Fimage_url%2F28%2Ffeature-eep.jpg"><img src="https://www.compropago.com/assets/payment-green-btn.png"></a></p>
	      </div>
	    </div>
	</div>
	<div class="span4">
		<div class="thumbnail">
	      <%= image_tag "feature-juicy-watermelon.jpg" %>
	      <div class="caption">
	        <h3>Juicy Watermelon <span style="font-size:0.8em; color:#999">- $100</span></h3>
	        <p><a href="https://www.compropago.com/comprobante/?store_id=632838a6-bd80-4293-85cb-4e0b37a24980&product_price=100.00&product_name=Tatuaje%20&product_id=Tatto123-A&client_name=Oskar&client_email=jogam15%40gmail.com&image_url=https%3A%2F%2Fcompropago.s3.amazonaws.com%2Fbutton%2Fimage_url%2F28%2Ffeature-eep.jpg"><img src="https://www.compropago.com/assets/payment-green-btn.png"></a></p>
	      </div>
	    </div>
	</div>
</div>
<hr />
<div class="row"><div style="text-align:center" class="span6 offset3"><h4>Ir a la <a href="http://compropago.com">Documentación</a> de ComproPago.</h4></div></div><br /><br />